/InsecTimeLine/obj/Debug/netcoreapp2.0/InsecTimeLine.AssemblyInfo.cs
/InsecTimeLine/obj/Debug/netcoreapp2.0/InsecTimeLine.AssemblyInfoInputs.cache
/InsecTimeLine/obj/Debug/netcoreapp2.0/InsecTimeLine.csproj.CoreCompileInputs.cache
/InsecTimeLine/obj/Debug/netcoreapp2.0/InsecTimeLine.csproj.FileListAbsolute.txt
/InsecTimeLine/obj/Debug/netcoreapp2.0/InsecTimeLine.csprojResolveAssemblyReference.cache
/InsecTimeLine/obj/Debug/netcoreapp2.0/InsecTimeLine.dll
/InsecTimeLine/obj/Debug/netcoreapp2.0/InsecTimeLine.pdb
/InsecTimeLine/obj/InsecTimeLine.csproj.nuget.cache
/InsecTimeLine/obj/InsecTimeLine.csproj.nuget.g.props
/InsecTimeLine/obj/InsecTimeLine.csproj.nuget.g.targets
/InsecTimeLine/obj/project.assets.json
/InsecTimeLine/bin/Debug/netcoreapp2.0/InsecTimeLine.deps.json
/InsecTimeLine/bin/Debug/netcoreapp2.0/InsecTimeLine.dll
/InsecTimeLine/bin/Debug/netcoreapp2.0/InsecTimeLine.pdb
/InsecTimeLine/bin/Debug/netcoreapp2.0/InsecTimeLine.runtimeconfig.dev.json
/InsecTimeLine/bin/Debug/netcoreapp2.0/InsecTimeLine.runtimeconfig.json
.vs/*
/InsecTimeLine/appsettings.Development.json
/InsecTimeLine/wwwroot/Uploads/*
