
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <style>

        /**THE SAME CSS IS USED IN ALL 3 DEMOS**/
        /**gallery margins**/
        ul.gallery {
            margin-left: 3vw;
            margin-right: 3vw;
        }

        .zoom {
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }

            .zoom:hover,
            .zoom:active,
            .zoom:focus {
                /**adjust scale to desired size,
        add browser prefixes**/
                -ms-transform: scale(1.5);
                -moz-transform: scale(10);
                -webkit-transform: scale(1.5);
                -o-transform: scale(1.5);
                transform: scale(1.5);
                position: relative;
                z-index: 100;
            }

        /**To keep upscaled images visible on mobile,
        increase left & right margins a bit**/
        @@media only screen and (max-width: 768px) {
            ul.gallery {
                margin-left: 15vw;
                margin-right: 15vw;
            }
            /**TIP: Easy escape for touch screens,
        give gallery's parent container a cursor: pointer.**/
            .DivName {
                cursor: pointer
            }
        }



        .title {
            width: 100%;
            height: 10%;
            background-color: #00ff00;
        }


        .col-centered {
            display: table;
            margin: auto;
        }

        .thumbnail {
            width: 150px;
            height: 50px;
        }

        .year {
            color: white;
            font-size: 50px;
        }

        .month {
            color: white;
            font-size: 50px;
            display: none;
        }
    </style>
    <style>

        #timeline {
            list-style: none;
            position: relative;
        }

            #timeline:before {
                top: 0;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 2px;
                background-color: #4997cd;
                left: 50%;
                margin-left: -1.5px;
            }

            #timeline .clearFix {
                clear: both;
                height: 0;
            }

            #timeline .timeline-badge {
                color: #fff;
                width: 50px;
                height: 50px;
                font-size: 1.2em;
                text-align: center;
                position: absolute;
                top: 20px;
                left: 50%;
                margin-left: -25px;
                background-color: #4997cd;
                z-index: 100;
                border-top-right-radius: 50%;
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }

                #timeline .timeline-badge span.timeline-balloon-date-day {
                    font-size: 1.4em;
                }

                #timeline .timeline-badge span.timeline-balloon-date-month {
                    font-size: .7em;
                    position: relative;
                    top: -10px;
                }

                #timeline .timeline-badge.timeline-filter-movement {
                    background-color: #ffffff;
                    font-size: 1.7em;
                    height: 35px;
                    margin-left: -18px;
                    width: 35px;
                    top: 40px;
                }

                    #timeline .timeline-badge.timeline-filter-movement a span {
                        color: #4997cd;
                        font-size: 1.3em;
                        top: -1px;
                    }

                #timeline .timeline-badge.timeline-future-movement {
                    background-color: #ffffff;
                    height: 35px;
                    width: 35px;
                    font-size: 1.7em;
                    top: -16px;
                    margin-left: -18px;
                }

                    #timeline .timeline-badge.timeline-future-movement a span {
                        color: #4997cd;
                        font-size: .9em;
                        top: 2px;
                        left: 1px;
                    }

            #timeline .timeline-movement {
                border-bottom: dashed 1px #4997cd;
                position: relative;
            }

                #timeline .timeline-movement.timeline-movement-top {
                    height: 60px;
                }

                #timeline .timeline-movement .timeline-item {
                    padding: 20px 0;
                }

                    #timeline .timeline-movement .timeline-item .timeline-panel {
                        border: 1px solid #d4d4d4;
                        border-radius: 3px;
                        background-color: #FFFFFF;
                        color: #666;
                        padding: 10px;
                        position: relative;
                        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
                        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
                    }

                        #timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                        }

                        #timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
                            text-align: right;
                        }

                            #timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
                                color: #666;
                            }

                                #timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
                                    color: #468c1f;
                                    font-size: 1.3em;
                                }

                        #timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
                            text-align: left;
                        }

                            #timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
                                color: #e2001a;
                                font-size: 1.3em;
                            }

        @@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
        @@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

        body {
            /*padding: 60px 0px;*/
            /*background-color: rgb(220, 220, 220);*/
        }

        .event-list {
            list-style: none;
            font-family: 'Lato', sans-serif;
            margin: 0px;
            padding: 0px;
        }

            .event-list > li {
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 5px rgb(51, 51, 51);
                box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
                padding: 0px;
                margin: 0px 0px 20px;
            }

                .event-list > li > time {
                    display: inline-block;
                    width: 100%;
                    color: rgb(255, 255, 255);
                    background-color: rgb(197, 44, 102);
                    padding: 5px;
                    text-align: center;
                    text-transform: uppercase;
                }

                .event-list > li:nth-child(even) > time {
                    background-color: rgb(165, 82, 167);
                }

                .event-list > li > time > span {
                    display: none;
                }

                .event-list > li > time > .day {
                    display: block;
                    font-size: 56pt;
                    font-weight: 100;
                    line-height: 1;
                }

                .event-list > li time > .month {
                    display: block;
                    font-size: 24pt;
                    font-weight: 900;
                    line-height: 1;
                }

                .event-list > li > img {
                    width: 100%;
                }

                .event-list > li > .info {
                    padding-top: 5px;
                    text-align: center;
                }

                    .event-list > li > .info > .title {
                        font-size: 17pt;
                        font-weight: 700;
                        margin: 0px;
                    }

                    .event-list > li > .info > .desc {
                        font-size: 13pt;
                        font-weight: 300;
                        margin: 0px;
                    }

                    .event-list > li > .info > ul,
                    .event-list > li > .social > ul {
                        display: table;
                        list-style: none;
                        margin: 10px 0px 0px;
                        padding: 0px;
                        width: 100%;
                        text-align: center;
                    }

                .event-list > li > .social > ul {
                    margin: 0px;
                }

                    .event-list > li > .info > ul > li,
                    .event-list > li > .social > ul > li {
                        display: table-cell;
                        cursor: pointer;
                        color: rgb(30, 30, 30);
                        font-size: 11pt;
                        font-weight: 300;
                        padding: 3px 0px;
                    }

                        .event-list > li > .info > ul > li > a {
                            display: block;
                            width: 100%;
                            color: rgb(30, 30, 30);
                            text-decoration: none;
                        }

                    .event-list > li > .social > ul > li {
                        padding: 0px;
                    }

                        .event-list > li > .social > ul > li > a {
                            padding: 3px 0px;
                        }

                        .event-list > li > .info > ul > li:hover,
                        .event-list > li > .social > ul > li:hover {
                            color: rgb(30, 30, 30);
                            background-color: rgb(200, 200, 200);
                        }

        .facebook a,
        .twitter a,
        .google-plus a {
            display: block;
            width: 100%;
            color: rgb(75, 110, 168) !important;
        }

        .twitter a {
            color: rgb(79, 213, 248) !important;
        }

        .google-plus a {
            color: rgb(221, 75, 57) !important;
        }

        .facebook:hover a {
            color: rgb(255, 255, 255) !important;
            background-color: rgb(75, 110, 168) !important;
        }

        .twitter:hover a {
            color: rgb(255, 255, 255) !important;
            background-color: rgb(79, 213, 248) !important;
        }

        .google-plus:hover a {
            color: rgb(255, 255, 255) !important;
            background-color: rgb(221, 75, 57) !important;
        }

        @@media (min-width: 768px) {
            .event-list > li {
                position: relative;
                display: block;
                width: 100%;
                height: 120px;
                padding: 0px;
            }

                .event-list > li > time,
                .event-list > li > img {
                    display: inline-block;
                }

                .event-list > li > time,
                .event-list > li > img {
                    width: 120px;
                    float: left;
                }

                .event-list > li > .info {
                    background-color: rgb(245, 245, 245);
                    overflow: hidden;
                }

                .event-list > li > time,
                .event-list > li > img {
                    width: 120px;
                    height: 120px;
                    padding: 0px;
                    margin: 0px;
                }

                .event-list > li > .info {
                    position: relative;
                    height: 120px;
                    text-align: left;
                    padding-right: 40px;
                }

                    .event-list > li > .info > .title,
                    .event-list > li > .info > .desc {
                        padding: 0px 10px;
                    }

                    .event-list > li > .info > ul {
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                    }

                .event-list > li > .social {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    display: block;
                    width: 40px;
                }

                    .event-list > li > .social > ul {
                        border-left: 1px solid rgb(230, 230, 230);
                    }

                        .event-list > li > .social > ul > li {
                            display: block;
                            padding: 0px;
                        }

                            .event-list > li > .social > ul > li > a {
                                display: block;
                                width: 40px;
                                padding: 10px 0px 9px;
                            }
        }
    </style>
    @*<link rel="stylesheet" href="css/style.css">
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/jquery.min.js"></script>*@
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/index.js"></script>
    <script src="~/js/jquery.min.js"></script>

</head>
<body>

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!------ Include the above in your HEAD tag ---------->

    <div id="particles" style="height:405px;overflow: hidden;">
        <div id="webcoderskull">
            <h1>History</h1>
            <p><!--Web Coder Skull Team--></p>

            <div class="container" style="height: 300px;">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Baisakh</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Jestha</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Asar</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Shrawan</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Bhadra</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Asoj</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Kartik</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Mangsir</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Poush</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Magh</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Falgun</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 zoom col-centered month">
                        <p class="">Chaitra</p>
                    </div>

                </div>
                <div class="row">
                    <!--<h3>Thumbnail Images</h3>-->
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-2 zoom col-centered">
                            <p class="year">2066</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 zoom col-centered">
                            <p class="year">2067</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 zoom col-centered">
                            <p class="year">2068</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 zoom col-centered">
                            <p class="year">2069</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 zoom col-centered">
                            <p class="year">2070</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 zoom col-centered">
                            <p class="year">2071</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 zoom col-centered">
                            <p class="year">2072</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 zoom col-centered">
                            <p class="year">2073</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 zoom col-centered">
                            <p class="year">2074</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 zoom col-centered">
                            <p class="year">2075</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 zoom col-centered">
                            <p class="year">2076</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="page-header">
                    <h1 id="">Design 1</h1>
                </div>
                <div id="timeline">
                    <div class="row timeline-movement timeline-movement-top">
                        <div class="timeline-badge timeline-future-movement">
                            <a href="#">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                        <div class="timeline-badge timeline-filter-movement">
                            <a href="#">
                                <span class="glyphicon glyphicon-time"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row timeline-movement">
                        <div class="timeline-badge">
                            <span class="timeline-balloon-date-day">18</span>
                            <span class="timeline-balloon-date-month">Baisakh</span>
                        </div>

                        <div class="col-sm-6  timeline-item">
                            <div class="row">
                                <div class="col-sm-11">
                                    <div class="timeline-panel credits">
                                        <ul class="timeline-panel-ul">
                                            <li><span class="importo">RS31345_Nagarik News - पिसिएको मधेस(pdf)</span></li>
                                            <li><span class="causale">State Responsibility for 37 killings during protests in terai</span> </li>
                                            <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 18/01/2060</small></p> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6  timeline-item">
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-11">
                                    <div class="timeline-panel debits">
                                        <ul class="timeline-panel-ul">
                                            <li><span class="importo">RS15413_मधेशी मोर्चाले औषधि लोड गरेको ट्रकमा आगो लगायो(pdf)</span></li>
                                            <li><span class="causale">चालक रहेकै अवस्थामा आगो लगाईयो(article)</span> </li>
                                            <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2064</small></p> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--due -->
                    <div class="row timeline-movement">

                        <div class="timeline-badge">
                            <span class="timeline-balloon-date-day">13</span>
                            <span class="timeline-balloon-date-month">Jestha</span>
                        </div>
                        <div class="col-sm-offset-6 col-sm-6  timeline-item">
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-11">
                                    <div class="timeline-panel debits">
                                        <ul class="timeline-panel-ul">
                                            <li><span class="importo">Image</span></li>
                                            <li><span class="causale"><img src="a.jpg" height="360px" width="460px"></span> </li>
                                            <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2064</small></p> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6  timeline-item">
                            <div class="row">
                                <div class="col-sm-11">
                                    <div class="timeline-panel credits">
                                        <ul class="timeline-panel-ul">
                                            <li><span class="importo">RS31345_Nagarik News - पिसिएको मधेस(pdf)</span></li>
                                            <li><span class="causale">State Responsibility for 37 killings during protests in terai</span> </li>
                                            <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2074</small></p> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row timeline-movement">

                        <div class="timeline-badge">
                            <span class="timeline-balloon-date-day">10</span>
                            <span class="timeline-balloon-date-month">Asar</span>
                        </div>
                        <div class="col-sm-offset-6 col-sm-6  timeline-item">
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-11">
                                    <div class="timeline-panel debits">
                                        <ul class="timeline-panel-ul">
                                            <li><span class="importo">RS31345_Nagarik News - पिसिएको मधेस(pdf)</span></li>
                                            <li><span class="causale">State Responsibility for 37 killings during protests in terai</span> </li>
                                            <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/03/2064</small></p> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6  timeline-item">
                            <div class="row">
                                <div class="col-sm-11">
                                    <div class="timeline-panel credits">
                                        <ul class="timeline-panel-ul">
                                            <li><span class="importo">RS31345_Nagarik News - पिसिएको मधेस(pdf)</span></li>
                                            <li><span class="causale">State Responsibility for 37 killings during protests in terai</span> </li>
                                            <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/04/2074</small></p> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="page-header">
                    <h1 id="">Design 2</h1>
                </div>
                <div class="row">
                    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                        <ul class="event-list">
                            <li>
                                <time datetime="2014-07-20">
                                    <span class="day">4</span>
                                    <span class="month"></span>
                                    <span class="year">2064</span>
                                    <span class="time">ALL DAY</span>
                                </time>
                                <img alt="Independence Day" src="a.jpg" />
                                <div class="info">
                                    <h2 class="title">Image</h2>
                                    <p class="desc">State Responsibility for 37 killings during protests in terai</p>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                        <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                        <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <time datetime="2014-07-20 0000">
                                    <span class="day">8</span>
                                    <span class="month"></span>
                                    <span class="year">2014</span>
                                    <span class="time">12:00 AM</span>
                                </time>
                                <div class="info">
                                    <h2 class="title">RS15413_मधेशी मोर्चाले औषधि लोड गरेको ट्रकमा आगो लगायो(pdf)</h2>
                                    <p class="desc">चालक रहेकै अवस्थामा आगो लगाईयो(article)</p>
                                    <ul>
                                        <li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Video</a></li>
                                        <li style="width:50%;"><span class="fa fa-money"></span> Other link</li>
                                    </ul>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                        <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                        <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <time datetime="2014-07-20 2000">
                                    <span class="day">20</span>
                                    <span class="month">Jan</span>
                                    <span class="year">2014</span>
                                    <span class="time">8:00 PM</span>
                                </time>
                                <img alt="My 24th Birthday!" src="a.jpg" />
                                <div class="info">
                                    <h2 class="title">Video</h2>
                                    <p class="desc">Interview</p>
                                    <ul>
                                        <li style="width:33%;">1 <span class="glyphicon glyphicon-ok"></span></li>
                                        <li style="width:34%;">3 <span class="fa fa-question"></span></li>
                                        <li style="width:33%;">103 <span class="fa fa-envelope"></span></li>
                                    </ul>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                        <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                        <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
















            </div>
        </div></div>


</body>
</html>
<script>
    $('.year').click(function () {
        $(".year").fadeOut(800, function () {
            $(".month").fadeIn(1000);
        });
    })
    $('.month').click(function () {
        //window.location.href = "../history/event.html";
    });
</script>
